{% extends "base.html" %}
{%block title%} OIT55 home{%endblock%}
{% block head %} 
	<p align="right"><h1> Welcome to the OIT55 zone </h1></p><br>
	<h2>Team members: </h2>

	<h3><dt> Server: </dt></h3>
		<dd>Mikhail Kobuk</dd>

	<h3><dt> Backend: </dt></h3>	
		<dd>Dmitriy Astrahancev</dd>
		<dd>Ilya Goncharov</dd>

	<h3><dt> Frontend: </dt></h3>
		<dd>Artur Bashirov</dd>
	
	</h3>

{% endblock %}
{% block content %}
	<form action="homepage/index">
		<button> + </button>
	</form>
{% endblock %}
