{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
 	<h1>{{ title }}</h1>

	<p>
		{{ form.login.label }}
		{{ form.login(size=32) }}
	</p>
	<p>
		{{form.submit()}}
	</p>
</form>
{% endblock %}