{% extends "base.html" %}

{% block content %}
	<form action="" method="post" novalidate>
		{{ form.hidden_tag()}}
		<p>
			<h1>{{ form.title.label }}</h1>
		</p>
			<h2>{{ form.max_wait_time.label }}: {{ form.max_wait_time(size=3) }}</h2>
		<p>
			<h2>{{ form.information.label}}</h2> {{ form.refresh() }} {{form.save()}} <br>
			{{ form.submit() }}
		</p>
		<!-- commands -->
		{% for i in range(types_cnt, 0, -1) %}
		<p>
			{% if i ==  1 %}
				Init com.   {{ i }} {{ form.types()}}
				{% if  i != types_cnt  %}
					added {{mods[types_data[i]]}}
				{% endif %}

			{% else %} 
				{{ form.types.label}}
				{{ i }} {{ form.types() }}
				{% if  i != types_cnt  %}
					added {{mods[types_data[i]]}}
				{% endif %}
			{% endif %}
		</p>
		{% endfor %}
		

	</form>
{% endblock %}